.listContainer {
    color: rgb(0, 0, 0);
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 48rem;
    background-image: url("/public/imagenes/fondo-inicio.jpg"); 
    background-size:100% 100%;   
    background-repeat: no-repeat;
}
