.card-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
  }
  
  .card-button:hover {
    background-color: #000;
    color: #fff;
  }